.userImageContainer {
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userImageContainer img {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #0D0338;
    -webkit-box-shadow: 9px 5px 32px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 9px 5px 32px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 9px 5px 32px 0px rgba(0, 0, 0, 0.57);
    object-fit: cover;
}

.cardContiner {
    width: 25%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    background: rgb(14, 185, 255);
    background: linear-gradient(330deg, rgba(14, 185, 255, 1) 0%, rgba(9, 232, 250, 1) 36%, rgba(92, 216, 255, 1) 0%);
    -webkit-box-shadow: 9px 5px 32px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 9px 5px 32px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 9px 5px 32px 0px rgba(0, 0, 0, 0.57);
}

.userInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    text-align: center;
    max-height: 80%;
    height: 50%;
}

.userInfo .infoContainer {
    width: 48%;
    height: 30%;
    font-size: 1.2rem;
    color: #040111;
}

.userInfo .infoContainer p {
    font-weight: bold;
}

.userInfo .infoContainer label {
    font-weight: 400;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.actions button {
    width: 40%;
    height: 100%;
    padding: 2% 4%;
    border-radius: 6px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transition: 400ms;
    -webkit-box-shadow: 2px 2px 45px -6px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 2px 2px 45px -6px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 2px 45px -6px rgba(0, 0, 0, 0.57)
}

.actions .edit {
    background-color: #FFA103;
}

.actions .remove {
    background-color: #F20C1D;
}

.actions .edit:hover {
    background-color: #FF600A;
    cursor: pointer;
}

.actions .remove:hover {
    background-color: #A7032A;
    cursor: pointer;
}